<section class="mainContent clearfix">
  <div class="container">
    <!--FEATURED COLLECTION-->
    <%= render 'potepan/sample/featured_collection' %>
    <!--FEATURED PRODUCTS-->
    <%= render 'potepan/sample/featured_products' %>
  </div>
</section>
