<div class="main-wrapper">
  <!-- BANNER -->
  <div class="bannercontainer">
    <div class="fullscreenbanner-container">
      <div class="fullscreenbanner">
        <ul>
          <li>
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- MAIN CONTENT SECTION -->
  <%= render 'potepan/sample/main_content' %>
  <!-- LIGHT SECTION -->
  <%= render 'layouts/light_section_bottom' %>
</div>
<!-- LOGIN MODAL -->
<%= render 'layouts/login_modal' %>
<!-- SIGN UP MODAL -->
<%= render 'layouts/signup_modal' %>
<!-- PORDUCT QUICK VIEW MODAL -->
<%= render 'layouts/quick_view_modal' %>
