<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
    <div class="panel-body">
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
        <ul class="nav navbar-nav side-nav">
          <% taxonomies_all.each do |taxonomy| %>
            <li>
              <a href="javascript:" data-toggle="collapse" data-target="#taxonomy-<%= taxonomy.id %>" class="rspec-taxonomy-tag"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
              <ul id="taxonomy-<%= taxonomy.id %>" class="collapse collapseItem">
                <% taxonomy.root.leaves.each do |leaf| %>
                  <li><a href="<%= potepan_category_path(leaf.id) %>" class="rspec-child-taxon-tag"><i class="fa fa-caret-right" aria-hidden="true"></i><%= "#{leaf.name}(#{leaf.products.count})" %></a></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><a href="#">ブラック<span>(15)</span></a></li>
      <li><a href="#">ホワイト<span>(10)</span></a></li>
      <li><a href="#">レッド<span>(7)</span></a></li>
      <li><a href="#">ブルー<span>(12)</span></a></li>
      <li><a href="#">オレンジ<span>(12)</span></a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <li><a href="#">S<span>(15)</span></a></li>
      <li><a href="#">M<span>(10)</span></a></li>
      <li><a href="#">L<span>(7)</span></a></li>
    </ul>
  </div>
</div>
