<% provide(:title, @breadcrumbs_name.last) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'layouts/light_section_top', breadcrumbs: @breadcrumbs_name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <!-- 左側のサイドバー -->
          <%= render 'sidebar_filter' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <!--FilterArea(並び替え)-->
          <%= render 'filter_area' %>
          <!--FilteredProducts(商品一覧)-->
          <%= render 'filtered_products', products: @products %>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render 'layouts/light_section_bottom' %>
</div>
<!-- LOGIN MODAL -->
<%= render 'layouts/login_modal' %>
<!-- SIGN UP MODAL -->
<%= render 'layouts/signup_modal' %>
