<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'layouts/light_section_top', breadcrumbs: @breadcrumbs_name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <!--MEDIA LEFT-->
            <%= render 'media_left', product: @product %>
            <!--MEDIA BODY-->
            <%= render 'media_body', product: @product %>
          </div>
        </div>
      </div>
      <!--MEDIA BOTTOM (関連商品)-->
      <%= render 'media_bottom' %>
    </div>
  </section>
</div>
<!-- LOGIN MODAL -->
<%= render 'layouts/login_modal' %>
<!-- SIGN UP MODAL -->
<%= render 'layouts/signup_modal' %>
