<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= breadcrumbs.last %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <% breadcrumbs.each do |breadcrumb| %>
            <% if breadcrumb == breadcrumbs.last %>
              <li class="active"><%= breadcrumb %></li>
            <% else %>
              <li>
                <a href="#"><%= breadcrumb %></a>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
